%table.tablesorter
  %thead
    %tr
      %th= 'NAME'
      %th= 'ENV'
      %th= 'PRECISION'
      %th= 'RESTART DATE'
      %th= 'BRANCH'
      %th= 'COMMIT SHA'
      %th= 'MESSAGE'
      %th= 'COMMIT DATE'
      %th= 'LOCAL DIFF/COMMITS'
      %th= 'BEHIND MASTER BY'
      %th{ :data => { :sorted=>"false"} }= 'VIEW/EDIT'
      %th{ :data => { :sorted=>"false"} }= 'CHANGELOG'
  %tbody
    - installations.each do |installation|
      - state = installation.states.last
      - uptodate = state.behind_by == 0 ? 'uptodate' : ''

      - lunr_data = {}
      - lunr_data['lunr-index'] = installation.id
      - lunr_data['lunr-branch'] = state.branch
      - lunr_data['lunr-sha'] = state.ref[0..9]
      - lunr_data['lunr-name'] = installation.name
      - lunr_data['lunr-env'] = installation.env
      %tr{ class: "installation #{cycle('odd', 'even')} #{uptodate} #{installation.env}", data: lunr_data}
        %td.name
          - if installation.env == 'production' && installation.application.name == 'Nagano3'
            = link_to(installation.name, "http://#{installation.name.downcase}.nagano.semiweb.ca", target: "_blank")
            = link_to(image_tag('external_link.png', class:'external_link'), "http://#{installation.name.downcase}.nagano.semiweb.ca", target: "_blank")
          - else
            = installation.name
        %td= installation.env
        %td= installation.location == 'undefined' ? nil : installation.location

        = render '/shared/state', state: state

        %td.behind_by= state.behind_by
        %td{style: 'text-align:center;'}= link_to image_tag('edit.png'), application_installation_path(installation.application_id, installation)
        %td{style: 'text-align:center;'}
          = link_to(image_tag('book.png'), application_installation_code_changelogs_path(installation.application_id, installation))
          %span.changelogs_count= installation.nb_changelogs_uncommitted


:javascript
  App.reload_lunr();
  App.add_indexes_to_lunr();