-content_for :back do
  = link_to 'Go back', application_path(@installation.application),class: 'btn btn-large btn-danger'


#installation
  %p
    = @installation.name
    = @installation.env
    = "#{@installation.location}" if @installation.location != 'undefined'

.installation
  .installation_infos.installation_box
    .centered-title
      .centered-title_label
        ="Informations"
    .installation_box-content
      - state = @installation.states.last

      .installation_box-content-title
        ="Server infos"

      = render 'info', title:'Application : ', value:link_to(@installation.application.name, application_path(@installation.application))

      - if @installation.env == 'production' && @installation.application.name == 'Nagano3'
        = render 'info', title:'Name : ', value:link_to(@installation.name, "http://#{@installation.name.downcase}.nagano.semiweb.ca", target: "_blank")
      -else
        = render 'info', title:'Name : ', value:@installation.name

      = render 'info', title:'Environment : ', value:@installation.env

      -#-if @installation.location != 'undefined'
      = render 'info', title:'Location : ', value:(@installation.location != 'undefined' ? @installation.location : '')

      = render 'info', title:'Restart date : ', value:"#{state.created_at.strftime("%B %d, %Y - %H:%M:%S")} (#{time_ago_in_words(state.created_at)} ago)"

      - branch_color = BranchWatcher.for_application(state.installation.application).for_branch_name(state.branch).first.try(:color)
      - if branch_color.present?
        - branch_value = "<span style='color:#{branch_color}'>#{state.branch}</span>".html_safe
      - else
        - branch_value = state.branch
      = render 'info', title:'Current branch : ', value:branch_value
      = render 'info', title:'Current ref : ', value:[link_to(state.ref, "https://github.com/semiweb/#{state.installation.application.name == 'Nagano3'?'nagano':'mobia'}/commit/#{state.ref}", target: "_blank"), image_tag('copy.png', class:'copy_link', data:{:clipboard_text=>"#{state.ref}",:clipboard_link=>true})]

      .installation_box-content-title
        ="Commit infos"

      = render 'info', title:'Commit date : ', value:"#{state.commit_date.strftime("%B %d, %Y - %H:%M:%S")} (#{time_ago_in_words(state.created_at)} ago)"
      = render 'info', title:'Behind master by : ', value:pluralize(state.behind_by, "commit")
      = render 'info', title:'Commit message : ', value:state.message

      .installation_box-actions.display-table
        .display-table-cell.valign--middle.text-align--center
          =link_to application_installation_states_path(@installation.application_id, @installation), class:'installation_box-action' do
            =image_tag('history.png')
            .installation_box-action-title
              ="History"
        .display-table-cell.valign--middle.text-align--center
          =link_to application_installation_code_changelogs_path(@installation.application_id, @installation), class:'installation_box-action' do
            =image_tag('book.png')
            .installation_box-action-title
              ="Changelogs"
        .display-table-cell.valign--middle.text-align--center
          =link_to application_installation_path(@installation.application_id, @installation), method: :delete, data: { confirm: "Are you sure you want to delete this installation?"}, class:'installation_box-action' do
            =image_tag('delete.png')
            .installation_box-action-title
              ="Delete"

  .installation_notes.installation_box
    .centered-title
      .centered-title_label
        ="Notes on this installation"
    .installation_box-content
      =form_for @installation, url:application_installation_path(@installation.application_id, @installation) do |f|
        =f.text_area :notes, class:'form_notes-textarea'
        =f.submit "Update notes", class:'btn btn-danger'

  .installation_history
    .centered-title
      .centered-title_label
        ="History"
      .centered-title_label.text-align--right
        =link_to "See all", application_installation_states_path(@installation.application_id, @installation), class: 'btn btn-primary'
    = render 'states/list', states: @states