- content_for :search do
  .search_bar.right
    %input#lunr_search{placeholder: 'Search'}
    = image_tag 'search.png', class: 'search_icon'

#applications
  - @applications.each do |application|
    = link_to application_installations_path(application), remote: true, 'data-no-turbolink' => '', id: "application-#{application.id}", class: 'app-link' do
      .application
        %p
          = application.name
          = image_tag 'loader_white.gif', class: 'loader'
          = image_tag 'reload.png', class: 'reload'


    -if params[:action] == 'show' && params[:id].present? && params[:id] == application.id.to_s
      .installations.toggle
        = render('installations/installations', :installations => @installations)
    -else
      .installations