-content_for :back do
  = link_to "Go back", application_installation_path(@installation.application.id, @installation),class: 'btn btn-large btn-danger'


#installation
  %p
    = @installation.name
    = @installation.env
    = "#{@installation.location}" if @installation.location != 'undefined'
= render 'list', states: @states