%td{style: 'text-align: center; width: 10px;'}
  = check_box_tag('changelogs_ids[]', "#{changelog.id}", !changelog.committed)
%td= File.basename(changelog.filename, '.yml')
%td= changelog.created_at.strftime("%B %d, %Y - %H:%M:%S")
%td= simple_format(truncate(changelog.content()['description'], length: 100, separator: ' '))
%td
  - if changelog.committed
    Committed
  - else
    No committed
