%td= state.created_at.to_date

- branch_color = BranchWatcher.for_application(state.installation.application).for_branch_name(state.branch).first.try(:color)

%td{style: branch_color.present? ? "color:#{branch_color}" : nil}= state.branch
%td
  = link_to state.ref[0..9], "https://github.com/semiweb/#{state.installation.application.name == 'Nagano3'?'nagano':'mobia'}/commit/#{state.ref}", target: "_blank"
  = image_tag('copy.png', class:'copy_link', data:{:clipboard_text=>"#{state.ref}",:clipboard_link=>true})
%td= truncate state.message, length: 50, omission: '..'
%td= state.commit_date.to_date
%td
  - if state.diff.present?
    %span.warn
      = link_to '+local', diff_application_installation_state_path(state.installation.application_id, state.installation_id, state.id), target: :_blank
  %span.warn= "+#{state.local_commits}" if state.local_commits && state.local_commits > 0
