#devise
  .tile
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .control-group
        = f.text_field :username, :autofocus => true, placeholder: "Username"
      .control-group
        = f.password_field :password, placeholder: "Password"
      - if devise_mapping.rememberable?
        .control-group
          = f.check_box :remember_me
          = f.label :remember_me
      .control-group= f.submit "Sign in", class: 'btn btn-large btn-block btn-primary'
    = render "devise/shared/links"
