!!!
%html
  %head
    %title Arma
    = favicon_link_tag 'rainbow.png', type: 'image/png'
    = stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,300", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: "#{controller.controller_name}" }
    = render 'layouts/header'

    - flash.each do |name, msg|
      - name = "success" if name == :notice
      - name = "warning" if name == :alert
      %div{class:"alert alert-#{name} alert-dismissible alert-rails"}
        %button{type:'button', class:'close', data:{dismiss:'alert'}}
          %span="X"
        %div.alert_message
          =msg

    %div#alert_success{class:"alert alert-success alert-dismissible", style:"display:none"}
      %button{type:'button', class:'close', data:{dismiss:'alert'}}
        %span="X"
      %div.alert_message

    %div#alert_warning{class:"alert alert-warning alert-dismissible", style:"display:none"}
      %button{type:'button', class:'close', data:{dismiss:'alert'}}
        %span="X"
      %div.alert_message

    :javascript
       $(".alert-rails").delay(4000).slideUp(400, function() {
            $(this).alert('close');
        });

    = yield :main