!!!
%html
  %head
    %title Arma
    = stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,300", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: "#{controller.controller_name}" }
    = render 'layouts/header'
    = yield :main